footer {
    color: $textColorPrimary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    background: #0080c3;
}